spring:
  datasource:
    url: jdbc:tc:postgresql:15:///kanban_test_db
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  
  flyway:
    enabled: false

logging:
  level:
    com.kanban: DEBUG
    org.springframework.security: DEBUG

